.search-bar {
  border-radius: 16px;
  .nut-searchbar__content {
    background: #e2e2e3;
  }
  .nut-searchbar__icon {
    padding-left: 16px;
    padding-right: 8px;
  }
  .nut-icon {
    font-size: 16px !important;
    color: #707075;
  }
  .nut-searchbar__input {
    padding-left: 0;
    font-size: 14px;
    line-height: 1;
  }
}
.home {
  padding: 16px 32px;
  .nut-grid-item__content {
    padding: 0 !important;
  }
  .nut-grid-item__content--border,
  .nut-grid__border {
    border-width: 0 !important;
  }
  .nut-grid {
    .nut-grid-item:nth-child(odd) {
      padding-right: 8px !important;
      margin-bottom: 16px;
    }
    .nut-grid-item:nth-child(even) {
      padding-left: 8px !important;
      margin-bottom: 16px;
    }
  }
  .nut-searchbar {
    padding: 0 !important;
    margin-bottom: 16px;
  }
}

.goodItem {
  color: #333;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  &-img {
    margin-bottom: 16px;
    width: 326px;
    height: 240px;
  }
  &-name {
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 10px;
  }
  &-price {
    display: flex;
    align-items: baseline;
    &-symbol {
      font-size: 24px;
      line-height: 34px;
      font-weight: bold;
    }
    &-origin {
      font-size: 32px;
      font-weight: bolder;
      line-height: 44px;
    }
    &-count {
      margin-left: 16px;
      color: rgba(169, 169, 172, 1);
      font-size: 20px;
      line-height: 28px;
      text-decoration: line-through;
    }
  }
}
.indexListEmpty {
  margin: 228px auto 0;
  display: flex;
  justify-content: center;
}
