page {
  --nutui-brand-color: #0092d8;
  --nutui-brand-color-start: #0092d8;
  --nutui-brand-color-end: #0092d8;

  //首页searchBar相关颜色配置
  --nutui-searchbar-content-border-radius: 12px;
  --nutui-searchbar-input-background: #e2e2e3;
  --nutui-searchbar-input-curror-color: #707075;
}
