.refund {
  background-color: #f8f8f8;
  height: 100vh;
  color: #333;
  font-size: 28px;
  padding: 20px 24px;
  padding-bottom: 100px;
  &-good {
    display: flex;
    background-color: #fff;
    padding: 30px 24px;
    margin-bottom: 20px;
    &-img {
      width: 160px;
      height: 160px;
      border-radius: 8px;
      margin-right: 20px;
    }
    &-detail {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-name {
      font-size: 32px;
      font-weight: bold;
    }
    &-num,
    &-label {
      font-size: 24px;
      color: rgba(51, 51, 51, 0.5);
    }
    &-num {
      margin-right: 10px;
      color: #000;
    }
    &-symbol {
      font-size: 24px;
      font-weight: bold;
    }
    &-price {
      font-size: 32px;
      font-weight: bold;
    }
  }
  &-info {
    display: flex;
    flex-direction: column;
    padding: 32px 24px;
    background: #ffffff;
    border-radius: 16px;
    margin-bottom: 20px;
    &-label {
      width: 30%;
    }
    &-orderStatus {
      color: #0092d8;
    }

    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 68px;

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
  &-selected-right {
    display: flex;
    align-items: center;
    &-text {
      font-size: 28px;
      color: #999;
    }
    &-img {
      width: 24px;
      margin-left: 16px;
    }
  }
  &-num {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 24px;
    background: #ffffff;
    border-radius: 16px;
    margin-bottom: 20px;
    &-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
    &-subLabel {
      color: #999999;
      font-size: 24px;
    }
  }

  &-reason {
    display: flex;
    flex-direction: column;
    padding: 32px 24px;
    padding-bottom: 66px;
    background: #ffffff;
    border-radius: 16px;
    margin-bottom: 20px;
    &-label {
      width: 30%;
    }
    &-orderStatus {
      color: #0092d8;
    }
    &-price {
      color: #de2424;
      font-size: 34px;
      display: flex;
      align-items: flex-end;
      &-symbol {
        font-size: 31px;
      }
    }
    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 68px;

      &:last-child {
        margin-bottom: 0px;
      }
    }
    &-status {
      display: flex;
      flex-direction: column;
      &-text {
        margin-top: 14px;
      }
      .nut-textarea {
        background-color: #f8f8f8;
        border-radius: 8px;
        padding: 12px;
      }
      .nut-textarea__textarea {
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #8d8d91;
      }
    }
  }
  &-bottom {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    bottom: constant(safe-area-inset-bottom);
    bottom: env(safe-area-inset-bottom);
    width: 100%;
    padding: 12px 32px 24px;
    z-index: 999;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-shadow: 0px -10px 30px 0px rgba(116, 137, 173, 0.05);
    box-sizing: border-box;
  }
}
